.version.index /* version checker */
{
	color: #000010;
	background-color: #6E1604;
}

.html
{
	background-color: #92278F;
	background: -webkit-gradient(linear, center top, center bottom, from(#92278F),color-stop(100%, #662D91));
	background: -webkit-linear-gradient(top,#92278F ,#662D91 100%);
	background: -o-linear-gradient(top,#92278F ,#662D91 100%);
	background: linear-gradient(to bottom,#92278F ,#662D91 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF92278F, endColorstr=#FF662D91, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF92278F', endColorstr='#FF662D91', GradientType=0)";
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.9803307821612px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -89px;
	padding-bottom: 62px;
}

#pu143
{
	width: 0.01px;
	margin-left: -100px;
}

#u143
{
	z-index: 2;
	width: 38px;
	height: 435px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.05;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
	filter: alpha(opacity=5);
	-moz-border-radius: 0px 0px 20px 20px ;
	-webkit-border-radius: 0px 0px 20px 20px ;
	-khtml-border-radius: 0px 0px 20px 20px ;
	border-radius: 0px 0px 20px 20px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 1355px;
	left: 975px;
}

#u142
{
	z-index: 3;
	width: 38px;
	height: 354px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.05;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
	filter: alpha(opacity=5);
	-moz-border-radius: 0px 0px 20px 20px ;
	-webkit-border-radius: 0px 0px 20px 20px ;
	-khtml-border-radius: 0px 0px 20px 20px ;
	border-radius: 0px 0px 20px 20px ;
	-webkit-transform: matrix(0.7193,0.6947,-0.6947,0.7193,128,36);
	-ms-transform: matrix(0.7193,0.6947,-0.6947,0.7193,128,36);
	-o-transform: matrix(0.7193,0.6947,-0.6947,0.7193,128,36);
	transform: matrix(0.7193,0.6947,-0.6947,0.7193,128,36);
	position: relative;
	margin-right: -10000px;
	margin-top: 1379px;
	left: 120px;
}

#u81-4
{
	z-index: 4;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 484px;
	left: 355px;
}

#u105-4
{
	z-index: 8;
	width: 920px;
	min-height: 56px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #FFFFFF;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 174px;
	left: 120px;
}

#u125
{
	z-index: 12;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 9px;
}

#u125_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#pu106
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -65px;
	margin-left: 118px;
}

#u106
{
	z-index: 13;
	width: 288px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 6px 8px -1px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u237-4
{
	z-index: 29;
	width: 288px;
	min-height: 124px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	color: #000000;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 2px;
	margin-top: 22px;
	position: relative;
}

#pu112
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -65px;
	margin-left: 434px;
}

#u112
{
	z-index: 15;
	width: 288px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 6px 8px -1px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u238-4
{
	z-index: 33;
	width: 288px;
	min-height: 124px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	color: #000000;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 2px;
	margin-top: 22px;
	position: relative;
}

#u239-4
{
	z-index: 37;
	width: 288px;
	min-height: 124px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	color: #000000;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 473px;
	left: 751px;
}

#u125-bw
{
	z-index: 12;
	margin-top: 836px;
	height: 597px;
}

#u126-4
{
	z-index: 17;
	width: 919px;
	min-height: 44px;
	background-color: transparent;
	line-height: 34px;
	font-size: 28px;
	color: #FFFFFF;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1485px;
	left: 120px;
}

#u127-4
{
	z-index: 21;
	width: 920px;
	min-height: 44px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	color: #FFFFFF;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 564px;
	left: 120px;
}

#u140
{
	z-index: 25;
	width: 38px;
	height: 500px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.05;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
	filter: alpha(opacity=5);
	-webkit-transform: matrix(0.7314,-0.682,0.682,0.7314,-165,80);
	-ms-transform: matrix(0.7314,-0.682,0.682,0.7314,-165,80);
	-o-transform: matrix(0.7314,-0.682,0.682,0.7314,-165,80);
	transform: matrix(0.7314,-0.682,0.682,0.7314,-165,80);
	position: relative;
	margin-right: -10000px;
	margin-top: 358px;
	left: 795px;
}

#u139
{
	z-index: 26;
	width: 38px;
	height: 285px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.05;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
	filter: alpha(opacity=5);
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 624px;
}

#u144
{
	z-index: 27;
	width: 38px;
	height: 367px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.05;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
	filter: alpha(opacity=5);
	position: relative;
	margin-right: -10000px;
	margin-top: 412px;
	left: 500px;
}

#u145
{
	z-index: 28;
	width: 38px;
	height: 406px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.05;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
	filter: alpha(opacity=5);
	-webkit-transform: matrix(0.7314,-0.682,0.682,0.7314,-133,67);
	-ms-transform: matrix(0.7314,-0.682,0.682,0.7314,-133,67);
	-o-transform: matrix(0.7314,-0.682,0.682,0.7314,-133,67);
	transform: matrix(0.7314,-0.682,0.682,0.7314,-133,67);
	position: relative;
	margin-right: -10000px;
	margin-top: -42px;
	left: 376px;
}

#u261
{
	z-index: 43;
	width: 395px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 661px;
	left: 383px;
}

#u256
{
	z-index: 46;
	width: 203px;
	min-height: 60px;
	overflow: hidden;
	position: relative;
	margin-right: -10000px;
}

#u250
{
	z-index: 44;
	width: 172px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 223px;
}

#u133
{
	z-index: 47;
	width: 193px;
	min-height: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 261px;
	left: 484px;
}

#u117
{
	z-index: 48;
	width: 288px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 6px 8px -1px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 771px;
	left: 749px;
}

#u292-4
{
	z-index: 50;
	width: 919px;
	min-height: 52px;
	background-color: transparent;
	line-height: 34px;
	font-size: 28px;
	color: #FFFFFF;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1697px;
	left: 121px;
}

#u124
{
	z-index: 54;
	width: 450px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1553px;
	left: 355px;
}

#u95
{
	z-index: 57;
	width: 88px;
	min-height: 96px;
	overflow: hidden;
	position: relative;
	margin-right: -10000px;
}

#u100
{
	z-index: 55;
	width: 82px;
	min-height: 96px;
	overflow: hidden;
	position: relative;
	margin-right: -10000px;
	left: 186px;
}

#u90
{
	z-index: 56;
	width: 82px;
	min-height: 96px;
	overflow: hidden;
	position: relative;
	margin-right: -10000px;
	left: 368px;
}

#u244
{
	z-index: 41;
	width: 95px;
	background-color: transparent;
	opacity: 0.36;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=36)";
	filter: alpha(opacity=36);
	margin-left: 847px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

